<div class="esb-main-content">
  <h1>Home</h1>
  <h3>What's new?</h3>
    All great! Project has been created! 
  <h3>Releases:</h3>
  <ul>
    <!-- in future replace on array of releases from github (with help api) -->
    <li>v. 0.0.0.4</li>
    <li>v. 0.0.0.3</li>
    <li>v. 0.0.0.2</li>
    <li>v. 0.0.0.1</li>
  </ul>
  <h3>Anything wrong? Create issue!</h3>
</div>
<hr/>
<footer>
  <div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a>. Read more on <a href="https://github.com/bitbybitlab/go-esb/">project GitHub page</span> </div>
</footer>