<div class="form-floating mb-3">
    <input type="text" class="form-control" name="Username" id="floatingUsername" placeholder="Username"
        value="<%= user.Username %>" required />
    <label for="floatingUsername">Username</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="FirstName" id="floatingFirstName" placeholder="First name"
        value="<%= user.FirstName %>" required />
    <label for="floatingFirstName">First name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="LastName" id="floatingLastName" placeholder="Last name"
        value="<%= user.LastName %>" />
    <label for="floatingLastName">Last name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="MiddleName" id="floatingMiddleName" placeholder="Middle name"
        value="<%= user.MiddleName %>" />
    <label for="floatingMiddleName">Middle name</label>
</div>
<div class="form-floating mb-3">
    <input type="tel" class="form-control" name="Phone" id="floatingPhone" placeholder="Phone"
        value="<%= user.Phone %>" />
    <label for="floatingPhone">Phone</label>
</div>
<div class="form-floating mb-3">
    <input type="email" class="form-control" name="Email" id="floatingEmail" placeholder="E-mail"
        value="<%= user.Email %>" />
    <label for="floatingEmail">E-mail</label>
</div>