<div class="esb-main-content">
    <%= formFor(data, {action: usersPath(), method: "POST"}) { %>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <h1>Create new user
                </h1>
                <div class="d-none d-lg-block">
                    <button class="btn btn-outline-success" role="submit">Save</button>
                    <%= linkTo(usersPath(), {class: "btn btn-close" , "data-confirm"
                        : "Are you sure? All changes will be lost." }) %>
                </div>
            </div>
        </nav>
        <%= partial("user_form.html") %>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="Password" id="floatingPassword" placeholder="Password"
                value="<%= data.Password %>" required />
            <label for="floatingPassword">Password</label>
        </div>   
    <% } %>
</div>