<div class="esb-main-content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <h1>View user: <%= data.Username %>
            </h1>
            <div class="d-none d-lg-block">
                <%= linkTo(usersPath(), {class: "btn btn-close" }) %>
            </div>
        </div>
    </nav>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="floatingReference" value="<%= data.ID %>" readonly />
        <label for="floatingReference">UUID</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="FirstName" id="floatingFirstName" placeholder="First name"
            value="<%= data.FirstName %>" readonly />
        <label for="floatingFirstName">First name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="LastName" id="floatingLastName" placeholder="Last name"
            value="<%= data.LastName %>" readonly />
        <label for="floatingLastName">Second name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="MiddleName" id="floatingMiddleName" placeholder="Middle name"
            value="<%= data.MiddleName %>" readonly />
        <label for="floatingMiddleName">Middle name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="tel" class="form-control" name="Phone" id="floatingPhone" placeholder="Phone"
            value="<%= data.Phone %>" readonly />
        <label for="floatingPhone">Phone</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="Email" id="floatingEmail" placeholder="E-mail"
            value="<%= data.Email %>" readonly />
        <label for="floatingEmail">E-mail</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="floatingVersion" value="<%= data.Version %>" readonly />
        <label for="floatingVersion">Version</label>
    </div>   
</div>